body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navbar {
    background-color: #1a1a1a;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    padding: 10px 0;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar h1 {
    color: #e74c3c;
    margin-left: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #e74c3c;
}

section {
    margin: 0;
    padding: 0;
}

h2 {
    color: #e74c3c;
    font-size: 32px;
}

.project, .experience, .education {
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.project:hover, .experience:hover, .education:hover, .about.hover {
    transform: scale(1.05);
}
    
.social-icons, .coding-icons {
    margin-top: 20px;
}

.social-icons a, .coding-icons a {
    color: #e74c3c;
    font-size: 30px;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.social-icons a:hover, .coding-icons a:hover {
    color: #ff5733;
}

.icon-img {
    width: 40px;
    height: 40px;
    transition: transform 0.3s ease;
}

.icon-img:hover {
    transform: scale(1.1);
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    gap: 30px;
    padding:0;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
    flex-shrink: 0;
}

.profile-pic:hover {
    transform: scale(1.05);
}

.about-text {
    color: #ffffff;
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: px;
    margin: 0;
}

.about-text h2 {
    color: #e74c3c;
    font-size: 2rem;
    margin: 0 0 15px 0;
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }
    .profile-pic {
        margin-bottom: 20px;
    }
}
